<section>
  <h1>Catálogo de Computadores</h1>
  
  <h2 *ngIf="recebeComputador.length < 1">Não há computadores cadastrados!</h2>

  <div class="card-container">
    <ul>
      <li *ngFor="let pc of recebeComputador; let i = index">
        <div (click)="detalhes(i)" class="cardPP">
          <h3>{{pc.marca}}</h3>
          <img src="{{ pc.foto }}">
          <p><a  (click)="detalhes(i)">+Detalhes</a></p>
        </div>
      </li>
    </ul>
  </div>
  <div id="popup" *ngIf="recebeComputador.length > 0">
    <div class="cardGG">
        <img src="{{ recebeComputador[this.key].foto }}" alt="">
        <h4>{{recebeComputador[this.key].marca}}</h4>
        <h4>{{recebeComputador[this.key].modelo}}</h4>
        <h4>{{recebeComputador[this.key].mobo}}</h4>
        <h4>{{recebeComputador[this.key].cpu}}</h4>
        <h4>{{recebeComputador[this.key].ram}}</h4>
        <h4>{{recebeComputador[this.key].hdTamanho}}</h4>
        <h4>{{recebeComputador[this.key].HdMarca}}</h4>
    </div>
    <span class="fechar" (click)="fechaPop()">X</span>
    <button (click)="exclui(key)" key="key">Deletar</button>
  </div>
</section>
