section {
    text-align: center;
}
.card-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.cardPP{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: pointer;
}
.cardPP img {
    width: 150px;
}
#popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(241, 5, 5, 0.6);
}