section {
    text-align: center; 
}
.card-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border: 2px solid green;
}
.card{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.card img {
    width: 150px;
}