* {
    color: #fff;
}
section {
    width: 100%;
    text-align: center;
}
.card-container ul {
    border: 3px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.card-container li {
    margin: 5px 10px;
}
.cardPP{
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: pointer;
}
.cardPP img {
    width: 200px;
}
#popup {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.336);
}
.cardGG {
    margin: 40px auto;
    width: 50%;
    border: 2px solid #444;
    background: #999;
}
.cardGG img {
    width: 100%;
}
.fechar {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 25px;
    font-size: 40px;
}
.fechar:hover {
    transform: scale(1.3,1.3)
}
.editar, .deletar {
    padding: 5px 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    background: #999;
}
.editar {
    background: #00b;
}
.deletar {
    background: #f00;
}
.card-detalhes {
    display: flex;
}
.card-detalhes span {
    color: #d10022;
}
.card-detalhes h4 {
    margin: 5px;
}