<section>

    <form>

        <input [(ngModel)]="marca" type="text" placeholder="Marca...">
        <input [(ngModel)]="modelo" type="text" placeholder="Modelo...">
        <input [(ngModel)]="mobo" type="text" placeholder="Placa-mãe...">
        <input [(ngModel)]="ram" type="text" placeholder="Memória RAM...">
        <input [(ngModel)]="hdTamanho" type="text" placeholder="Capacidade HD...">
        <input [(ngModel)]="hdMarca" type="text" placeholder="Marca HD...">
        <input [(ngModel)]="cpu" type="text" placeholder="Processador...">
        <input [(ngModel)]="veloCpu" type="text" placeholder="Velocidade Processador...">
        <input [(ngModel)]="foto"type="text" placeholder="URL da Imagem">
        <button type="submit" (click)="cadastra()">Cadastrar</button>
      
      </form>

  <!-- <form>

    <input [(ngModel)]="marca" type="text" placeholder="Marca...">
    <input [(ngModel)]="modelo" type="text" placeholder="Modelo...">
    <input [(ngModel)]="mobo" type="text" placeholder="Placa-mãe...">
    <input [(ngModel)]="ram" type="text" placeholder="Memória RAM...">
    <input [(ngModel)]="hdTamanho" type="text" placeholder="Capacidade HD...">
    <input [(ngModel)]="hdMarca" type="text" placeholder="Marca HD...">
    <input [(ngModel)]="cpu" type="text" placeholder="Processador...">
    <input [(ngModel)]="veloCpu" type="text" placeholder="Velocidade Processador...">
    <input [(ngModel)]="foto"type="text" placeholder="URL da Imagem">
    <button (click)="cadastra()">Cadastrar</button>
  
  </form> -->

</section>
